{{#if includeSeoMetadata}}<div id="{{playerId}}"{{{elAttributes attributes}}}>{{{seoMetadata}}}{{{kalturaLinks}}}</div>
{{/if}}<script src="{{scriptUrl}}?autoembed=true{{#if entryId}}&entry_id={{entryId}}{{/if}}&playerId={{playerId}}{{#if cacheSt}}&cache_st={{cacheSt}}{{/if}}&width={{width}}&height={{height}}{{{flashVarsUrl flashVars}}}"></script>