<script type="text/javascript" src="{{scriptUrl}}"></script>
<div id="{{playerId}}"{{{elAttributes attributes}}}></div>
<script type="text/javascript">
kWidget.{{embedMethod}}({{{kWidgetObject}}});
</script>