<a rel="media:thumbnail" href="{{thumbUrl}}"></a>
<span property="dc:description" content="{{description}}"></span>
<span property="media:title" content="{{name}}"></span>
<span property="media:width" content="{{width}}"></span>
<span property="media:height" content="{{height}}"></span>
<span property="media:type" content="application/x-shockwave-flash"></span>