<script type="text/javascript" src="{{scriptUrl}}"></script>
<object id="{{playerId}}" name="{{playerId}}" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="{{height}}" width="{{width}}" bgcolor="#000000"{{{elAttributes attributes}}} data="{{swfUrl}}">
	<param name="allowFullScreen" value="true" />
	<param name="allowNetworking" value="all" />
	<param name="allowScriptAccess" value="always" />
	<param name="bgcolor" value="#000000" />
	<param name="flashVars" value="{{{flashVarsString flashVars}}}" />
	<param name="movie" value="{{swfUrl}}" />
	{{#if includeSeoMetadata}}
	<a rel="media:thumbnail" href="{{entryMeta.thumbnailUrl}}"></a>
	<span property="dc:description" content="{{entryMeta.description}}"></span>
	<span property="media:title" content="{{entryMeta.name}}"></span>
	<span property="media:width" content="{{width}}"></span>
	<span property="media:height" content="{{height}}"></span>
	<span property="media:type" content="application/x-shockwave-flash"></span>	
	{{/if}}{{#if includeKalturaLinks}}
	<a href="http://corp.kaltura.com/products/video-platform-features">Video Platform</a>
	<a href="http://corp.kaltura.com/Products/Features/Video-Management">Video Management</a> 
	<a href="http://corp.kaltura.com/Video-Solutions">Video Solutions</a>
	<a href="http://corp.kaltura.com/Products/Features/Video-Player">Video Player</a>
	{{/if}}
</object>